$themeColor: #469d8f;
$textColor: #41464b;
$borderColor: #eee;
$lightGray: #f9f9f9;
$grayColor: #9e9e9e;

$successColor: #72c140;
$warningColor: #efb041;
$infoColor: #448ef7;

$headerBarHeight: 84px;

$boxShadow: 3px 3px 3px rgba(#000, 0.15);

$transitionDelay: 0.2s;
$transitionDelayFast: 0.1s;
$transitionDelaySlow: 0.3s;

$borderRadius: 6px;

// dashboard

$maskColor: #fff;
$border-radius-base: 4px;

#app {
  font-size: 14px;
}
